.Auth{
    display: flex;
    height: 100vh;
    width: 100%;
    background: url('./../images/jangoo5.png') no-repeat left;
    background-size: contain;
}

.DivLogRegs{
    /* background-color: yellow; */
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    padding: 20px;
}


.mainChild{
    /* background-color: green; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;



    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    padding: 20px;
}

.mainChild form{
    background-color: yellowgreen;
    width: 100%;
    padding: 0 40px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.form-group-head{
    /* background-color: pink; */
    justify-content: center;
    display: flex;
    position: relative;
    top: -8vh;
}
.titleApp{
    background-color: #f05;
    color: #fff;
    width: 140px;
    text-align: center;
    padding: 50px 0;
    border-radius: 160px;
    font-family: sans-serif;
}

.form-group-head img{
    width: 100% important;
}

.form-group{
    /* background-color: aquamarine; */
    margin: 0  0 15px 0;
    padding: 10px 0;
}
.form-group span{
    /* background-color: darkslategrey; */
    background-color: yellow;
    padding: 14px 10px;
    margin-bottom: -10px;
    margin-right: 4px;
    float: right;
    /* color: #ffffff; */
    font-family: sans-serif;
    letter-spacing: 1px;

    border-radius: 40px 40px 0 0px;
}
.form-group input{
    width: 100%;
    padding: 15px 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0 #333333;
    letter-spacing: 1px;
    font-family: sans-serif;
    outline: 0;
}

.form-group input:focus{
    background-color: #ff9102;
}


.form-group-forget{
    text-align: end;
}
.linkForget{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    letter-spacing: 1px;
    outline: 0;
}

.btnSubmit{
    background-color: yellow;
    font-family: sans-serif;
    padding: 14px 30px;
    letter-spacing: 1px;
    border-radius: 30px;
    border: 1px solid transparent;
    box-shadow: 0 4px 5px 0 #333333;
    cursor: pointer;
    outline: 0;
}

.btnCurrentForm{
    background: transparent;
    border: 0;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    color: #f05;
    outline: 0;
    text-decoration: none;
}

.form-group-error{
    background-color: #f05;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    padding: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 20px;
    border: 1px solid transparent;
    display: none;
}

